.titel{
    display: flex;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    justify-content : center;
    align-items: center;
    flex-direction: column;
}

.tabelle{
    font-family: 'Times New Roman', Times, serif;
    justify-content : center;
    align-items: center;
    flex-direction: column;
}

.label{
    display: flex;
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    justify-content : center;
    align-items: center;
    flex-direction: column;
}